html, body {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

body.fixed {
  overflow: hidden;
}

@media (max-width: 899px) {
  body.fixedMobile {
    position: fixed;
  }
}

.alert {
  position: fixed;
  top: -50px;
  left: 0px;
  width: 100vw;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  z-index: 999;
  padding-top: 5px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 3px #BBB, 0px 0px 1px #999;
          box-shadow: 0px 0px 3px #BBB, 0px 0px 1px #999;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.alert.show {
  top: 0px;
}

#loadScreen {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  line-height: 100vh;
  font-size: 18px;
  text-align: center;
  background-color: white;
}

#loadScreen.hide {
  display: none;
}

.modal {
  position: fixed;
  top: 100vh;
  left: 0;
  width: 100vw;
  margin: auto;
  height: 100vh;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: top 0.25s ease-out;
  transition: top 0.25s ease-out;
}

.modal .cocktail {
  -webkit-box-shadow: none;
          box-shadow: none;
  max-width: 600px;
  width: 600px;
  margin: auto;
  overflow: scroll;
}

.modal .cocktail .editIcon {
  top: 70px;
  right: 19px;
}

.modal .cocktail .exitIcon {
  display: block;
}

.modal .cocktail .editIcon,
.modal .cocktail .exitIcon {
  width: 36px;
  height: 36px;
}

.modal .cocktail .title {
  line-height: 36px;
  width: calc(100% - 60px);
}

@media (max-width: 899px) {
  .modal .cocktail {
    margin: 0px;
    margin-top: 15vh;
    height: 80%;
  }
}

.modal .cocktail.to-top .ingredients {
  padding-left: 0px;
}

@media (max-width: 899px) {
  .modal .cocktail.to-top {
    height: calc(100vh - 150px);
    margin-top: 0px;
    border-radius: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 110px;
  }
}

@media (min-width: 900px) {
  .modal .cocktail {
    padding: 30px;
    padding-bottom: 40px;
  }
  .modal .cocktail .exitIcon {
    top: 30px;
    right: 30px;
  }
  .modal .cocktail .editIcon {
    top: 75px;
    right: 29px;
  }
}

.modal.active {
  top: 0px;
}

.modal.fixed {
  overflow: hidden;
}

#overlay {
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0;
  z-index: -1;
}

#overlay.active {
  z-index: 9;
}

#overlay.show {
  opacity: 0.75;
}

#rootCocktails {
  max-width: 1000px;
  margin: auto;
  -o-perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000;
  -o-perspective-origin: center;
  -webkit-perspective-origin: center;
  perspective-origin: center;
}

.cocktails {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  margin: 10px -10px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

@media (max-width: 899px) {
  .cocktails {
    display: block;
    margin: 10px 0px;
  }
}

.cocktails.background {
  -webkit-transform: translateZ(-25px);
  transform: translateZ(-25px);
}

.cocktails.background-2 {
  -webkit-transform: translateZ(-50px);
  transform: translateZ(-50px);
}

.cocktail {
  -webkit-box-shadow: 0px 0px 5px #CCC, 0px 0px 1px #999;
          box-shadow: 0px 0px 5px #CCC, 0px 0px 1px #999;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  position: relative;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

@media (max-width: 899px) {
  .cocktail {
    margin: 15px;
  }
}

.cocktail .title {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 25px;
  width: calc(100% - 40px);
}

.cocktail .ingredientTitle {
  margin-bottom: 0px;
}

.cocktail .ingredients {
  list-style: none;
  padding-left: 20px;
}

.cocktail .ingredients .ingredient {
  position: relative;
  width: calc(100% - 50px);
}

.cocktail .ingredients .ingredient .number {
  font-size: 1.25em;
}

.cocktail .ingredients .ingredient .altText {
  margin-top: -4px;
  padding-left: 20px;
  opacity: 0.5;
  font-style: italic;
  font-size: 0.85em;
}

.cocktail .ingredients .ingredient .mainText {
  display: inline-block;
}

.cocktail .ingredients .ingredient .mainText span .mainInput {
  width: 50px;
  text-align: right;
}

.cocktail .ingredients .ingredient .trashIcon {
  position: relative;
  top: 5px;
  cursor: pointer;
}

.cocktail .ingredients .newIngredient,
.cocktail .ingredients .subIngredient {
  display: table;
  cursor: pointer;
}

.cocktail .ingredients .newIngredient svg,
.cocktail .ingredients .subIngredient svg {
  top: 6px;
  position: relative;
  margin-right: 3px;
}

.cocktail input,
.cocktail textarea {
  border: none;
  outline-width: 0;
  font-size: 1.25em;
  font-family: Avenir;
  border-radius: 5px;
  padding: 2.5px 5px;
}

@media (max-width: 899px) {
  .cocktail input {
    max-width: 150px;
    margin: 10px 0;
  }
}

.cocktail textarea {
  border-radius: 10px;
  font-size: 1em;
  width: calc(100% - 30px);
  height: 100px;
  resize: none;
  padding: 10px 15px;
}

@media (max-width: 899px) {
  .cocktail textarea {
    height: 200px;
    font-size: 1.25em;
  }
}

.cocktail *:focus {
  outline: none;
}

.cocktail .canMake {
  margin-top: 1em;
}

.cocktail .editIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.cocktail .exitIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
  cursor: pointer;
}
/*# sourceMappingURL=cocktail.css.map */