$desktop-width: 900px;

@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

@mixin transform($transform...) {
  -moz-transform:    $transform;
  -o-transform:      $transform;
  -webkit-transform: $transform;
  transform:         $transform;
}

@mixin perspective($perspective...) {
  -moz-perspective:    $perspective;
  -o-perspective:      $perspective;
  -webkit-perspective: $perspective;
  perspective:         $perspective;
}

@mixin perspective-origin($perspective-origin...) {
  -moz-perspective-origin:    $perspective-origin;
  -o-perspective-origin:      $perspective-origin;
  -webkit-perspective-origin: $perspective-origin;
  perspective-origin:         $perspective-origin;
}

@mixin mobile {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

html, body
{
  font-family: Avenir, Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

body.fixed
{
  overflow: hidden;
}

body.fixedMobile
{
  @include mobile {
    position: fixed;
  }
}

.alert {
  position: fixed;
  top: -45px;
  left: 0px;
  width: 100vw;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  z-index: 10;
  padding-top: 5px;
  background-color: white;
  box-shadow: 0px 0px 5px #BBB, 0px 0px 2px #999;
  @include transition(all 0.1s);
}

.alert.show {
  top: 0px;
}

#loadScreen {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  line-height: 100vh;
  font-size: 18px;
  text-align: center;
  background-color: white;
}

#loadScreen.hide {
  display: none;
}

#rootCocktails
{
  max-width: 1000px;
  margin: auto;
  @include perspective(1000);
  @include perspective-origin(center);
}

#modalCocktail
{
  position: fixed;
  top: 100vh;
  left: 0;
  width: 100vw;
  margin: auto;
  height: 100vh;
  z-index: 10;
  display: flex;
  @include transition(top 0.25s ease-out);

  .cocktail {
    box-shadow: none;
    max-width: 600px;
    width: 600px;
    margin: auto;

    .editIcon
    {
      top: 70px;
      right: 19px;
    }

    .exitIcon
    {
      display: block;
    }

    .editIcon,
    .exitIcon
    {
      width: 36px;
      height: 36px;
    }

    .title
    {
      line-height: 36px;
      width: calc(100% - 60px);
    }
  }

  @include mobile {
    .cocktail {
      margin: 0px;
      margin-top: 15vh;
    }
  }

  @include desktop {
    .cocktail {
      padding: 30px;
      padding-bottom: 40px;
    
      .exitIcon
      {
        top: 30px;
        right: 30px;
      }

      .editIcon
      {
        top: 75px;
        right: 29px;
      }
    }
  }
}

#modalCocktail.active 
{
  top: 0px;
}

#modalCocktail
{
  .cocktail
  {
    overflow: scroll;
    
    @include mobile() {
      height: 80%;
    }
  }

  .cocktail.to-top
  {
    .ingredients
    {
      padding-left: 0px;
    }

    @include mobile() {
      height: calc(100vh - 150px);
      margin-top: 0px;
      border-radius: 0;
      overflow: scroll;
      padding-bottom: 110px;
    }
  }
}

#overlay
{
  @include transition(opacity 0.25s ease-out);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0;
  z-index: -1;
}

#overlay.active
{
  z-index: 9;
}

#overlay.show
{
  opacity: 0.75;
}

.cocktails
{
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 10px -10px;
  @include transition(all 0.25s);

  @include mobile {
    display: block;
    margin: 10px 0px;
  }
}

.cocktails.background
{
  @include transform(translateZ(-25px));
}

.cocktail
{
  box-shadow: 0px 0px 5px #CCC, 0px 0px 1px #999;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  position: relative;
  @include transition(all 0.25s);

  @include mobile {
    margin: 15px;
  }

  .title
  {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 25px;
    
    width: calc(100% - 40px);
  }

  .ingredientTitle
  {
    margin-bottom: 0px;
  }

  .ingredients
  {
    list-style: none;
    padding-left: 20px;
    
    .ingredient
    {
      position: relative;
      width: calc(100% - 50px);

      .number
      {
        font-size: 1.25em;
      }  

      .altText 
      {
        margin-top: -4px;
        padding-left: 20px;
        opacity: 0.5;
        font-style: italic;
        font-size: 0.85em;
      }

      .mainText
      {
        display: inline-block;
        span
        {
          .mainInput
          {
            width: 50px;
            text-align: right;
          }
        }
      }

      .trashIcon
      {
        position: relative;
        top: 5px;
        cursor: pointer;
      }
    }

    .newIngredient,
    .subIngredient {
      display: table;
      cursor: pointer;

      svg
      {
        top: 6px;
        position: relative;
        margin-right: 3px;
      }
    }
  }

  input,
  textarea
  {
    border: none;
    outline-width: 0;
    font-size: 1.25em;
    font-family: Avenir;
    border-radius: 5px;
    padding: 2.5px 5px;
  }

  input
  {
    @include mobile 
    {
      max-width: 150px;
      margin: 10px 0;
    }
  }

  textarea {
    border-radius: 10px;
    font-size: 1em;
    width: calc(100% - 30px);
    height: 100px;
    resize: none;
    padding: 10px 15px;

    @include mobile 
    {
      height: 200px;
      font-size: 1.25em;
    }
  }

  *:focus {
    outline: none;
  }

  .canMake
  {
    margin-top: 1em;
  }

  .editIcon
  {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .exitIcon
  {
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    cursor: pointer;
  }
}